$font: 'Source Sans Pro', sans-serif;
$cursive: 'Dancing Script', cursive;

$light-blue: #93ADC3;
$dark-blue: #6F8494;
$green: #5B7B5B;

$primary: hsl(0, 0%, 13%);
$secondary: hsl(0, 0%, 29%);
$tertiary: hsl(0, 0%, 45%);
$subtle: hsl(0, 0%, 90%);

$box-shadow-dark: 0 0.4rem 0.6rem 0 hsla(0, 0%, 0%, 0.3);
$box-shadow: 0 0.4rem 0.6rem 0 hsla(0, 0%, 0%, 0.2);
$box-shadow-light: 0 0.4rem 0.6rem 0 hsla(0, 0%, 0%, 0.05);