<section class="fade-in">
  <img class="engage-img" src="assets/rsvp.png">
  <strong>If You Have Already Sent Your Response Card:</strong>
  <p>If you have already mailed your response card, kindly email the bride’s mother Tracey Burkhardt at <a href="mailto:tburkhardt7@icloud.com">tburkhardt7@icloud.com</a> and advise whether you will or will not be able to attend on the new date of July 10, 2020.  If you initially RSVPed no, but are able to attend on the new date of July 10, 2020, please include in your email your food choice of either steak, salmon, or chicken.</p>
  <strong>If You Have Not Sent Your Response Card:</strong>
  <p>If you have not yet mailed your response card, please complete same based upon whether you will be able to attend on July 10, 2020.</p>
  <strong>We kindly ask that people provide their response to whether they will be able to attend on July 10, 2020 on or before June 10, 2020.</strong>
</section>
