<section class="fade-in">
  <img class="engage-img" src="assets/wedding.png">
  <h2 class="title">
    Allison Burkhardt<br>
    and<br>
    Justin Strausser
  </h2>
  <p class="page-text">Joyfully invite you to their wedding celebration with a new date of:</p>
  <p class="page-text light">APRIL 24, 2021</p>
  <p class="page-text light">BERLIN, NEW JERSEY</p>
  <p class="page-text">
    For information on how to respond whether you will be able to attend on our new wedding date, please follow the instructions provided for under “RSVP”.
  </p>
  <p class="page-text">
    Updated information for the block of rooms that have been reserved at the Springhill Suites is provided for under “Travel”.
  </p>
  <p class="page-text">
    Updated information regarding the start and end times for our wedding festivities are provided under “Details”.
  </p>
</section>
