<img class="engage-img" src="assets/details.png">
<p>
    The wedding will be held on Saturday, May 9, 2020.
    The festivities will start with the ceremony and
    will be immediately followed by a cocktail hour and reception.
</p>
<address>
  <span class="address-line venue">Lucien's Manor</span><br>
  <span class="address-line">81 W White Horse Pike</span><br>
  <span class="address-line">Berlin, NJ 08009</span>
</address>
<section class="details">
  <div class="ceremony">
    <b>CEREMONY</b><br>
    5:30 p.m. to 6:00 p.m.<br>
    Indoor Chapel
  </div>
  <div class="cocktails">
    <b>COCKTAIL HOUR</b><br>
    6:00 p.m. to 7:00 p.m.<br>
  </div>
  <div class="reception">
    <b>RECEPTION</b><br>
    7:00 p.m. to 11:00 p.m.<br>
    Venetian Ballroom
  </div>
</section>
