<section class="fade-in">
  <img class="engage-img" src="assets/details.png">
  <p>
      The wedding will be held on Saturday, April 24, 2020.
      The festivities will start with the ceremony and
      will be immediately followed by a cocktail hour and reception.
  </p>
  <address>
    <span class="address-line venue">Lucien's Manor</span><br>
    <span class="address-line">81 W White Horse Pike</span><br>
    <span class="address-line">Berlin, NJ 08009</span>
  </address>
  <section class="details">
    <div class="ceremony">
      <b>CEREMONY</b><br>
      5:00 p.m. to 5:30 p.m.<br>
      Indoor Chapel
    </div>
    <div class="cocktails">
      <b>COCKTAIL HOUR</b><br>
      5:30 p.m. to 6:30 p.m.<br>
      Chantilly & Nouvelle Room
    </div>
    <div class="reception">
      <b>RECEPTION</b><br>
      6:30 p.m. to 10:30 p.m.<br>
      Venetian Ballroom
    </div>
  </section>
  <h2>COVID-19 Update</h2>
  <p>
    We recognize that our guests may have questions regarding the safety precautions that our venue is implementing in light of the ongoing pandemic.  Please be advised that our venue is abiding by the safety precautions and regulations mandated by the State of New Jersey at this time.  Specifically, masks are required to be worn by guests in the common areas throughout the venue, and will be worn at all times by the staff at Lucien’s.  Guests will have the option to remove their masks once inside the indoor ceremony space, the cocktail hour room, and the reception hall.  Our reception hall is the only one located on the second floor of the venue, and we will have our own, private bathrooms to utilize during the reception.  Lucien’s has been successfully operating weddings over the course of the past several months, and we are confident that they will provide a safe and comfortable environment for us and our guests on our big day.
  </p>
</section>
