<main>
  <h1 class="page-title">Allison and Justin</h1>
  <nav>
    <ul class="nav-items">
      <div class="horizontal-line"></div>
      <li
        class="nav-items__item"
        *ngFor="let route of routes"
        (click)="this.navigate(route)"
        >
        <a
          class="nav-items__item__link"
          [class.nav-items__item__link--active]="this.activeRoute === route"
        >
          {{ route.text }}
        </a>
      </li>
      <div class="horizontal-line"></div>
    </ul>
  </nav>
  <router-outlet></router-outlet>
  <footer>
    <div class="horizontal-line"></div>
    <span class="photography">
      A special thank you to <a href="https://www.weddingphotonj.com/">Timothy Anderson Jr. Photography</a> for the wonderful photographs.
    </span>
    <div class="horizontal-line"></div>
  </footer>
</main>