@import "../styles/variables";
@import "../styles/mixins";

main {
  height: 100%;
  padding: 50px 10px;
  background: white;
  box-shadow: $box-shadow-light;
  border: 2px solid $subtle;
  border-radius: 2px;
  text-align: center;

  @include tablet-up() {
    padding: 50px 100px;
  }

  .page-title {
    font-size: 48px;
  }

  nav {
    margin-bottom: 25px;

    .nav-items {
      display: flex;
      justify-content: center;
      align-items: center;
      
      &__item {
        margin: 0 20px;

        &__link {
          text-decoration: none;
          text-transform: uppercase;
          color: $secondary;
          font-size: 12px;
          font-weight: bold;
          border-bottom: 2px solid transparent;
          transition: .5s;

          &:hover,
          &--active {
            color: $primary;
            border-color: $tertiary;
          }

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    align-items: center;
    margin-top: 100px;
    
    .photography {
      padding: 0 25px;
      font-style: italic;
      font-weight: 300;
      color: $tertiary;
  
      a {
        color: $primary;
        text-decoration: none;
      }
    }
  }

  .horizontal-line {
    flex: 1;
    height: 2px;
    background: $subtle;
  }
}