<section class="fade-in">
  <img class="engage-img" src="assets/travel.png">
  <p>A block of rooms has been reserved at:</p>
  <address>
    <span class="address-line venue">The Springhill Suites by Marriott</span><br>
    <span class="address-line">1031 Voorhees Drive</span><br>
    <span class="address-line">Voorhees Township, NJ 08043</span><br>
    <span class="address-line">(856) 782-2555</span>
  </address>
  <p>
    To ensure you receive a room in our block, kindly reserve your room on or before 5:00 p.m. on March 24, 2021 by calling the above-referenced number and mentioning that you are with the “Burkhardt-Strausser Wedding”.  You can also reserve online by following the below link:
  </p>
  <button class="reserve">
    <a
      href="https://www.marriott.com/event-reservations/reservation-link.mi?id=1610375580281&key=GRP&app=resvlink"
      target="_blank"
    >
      Make Reservation
    </a>
  </button>
  <p>
    A shuttle will be available to transport guests between the hotel and Lucien’s Manor both prior to the ceremony and at the end of the reception.  Please check in at the hotel upon arrival for pick-up times and location for the shuttle.
  </p>
</section>