@import '../../../styles/variables';

.venue {
  font-family: $cursive;
  font-size: 36px;
  line-height: 36px;
}

.address-line {
  padding: 5px 0;
}

.reserve {
  padding: 10px 15px;
  background: $light-blue;
  border-radius: 3px;
  box-shadow: $box-shadow-light;
  transition: .4s;

  &:hover {
    background: $dark-blue;
    box-shadow: $box-shadow;
    cursor: pointer;
  }

  a {
    color: white;
    text-decoration: none;
  }
}