@import "styles/variables";
@import "styles/mixins";
@import "styles/images";
@import "styles/animations";

html {
  font-size: 10px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font;
  font-size: 18px;
  line-height: 24px;
  font-weight: 300;
  background: url('assets/dusty-background.png');
  color: $primary;

  @include laptop-up() {
    padding: 75px 200px;
  }
}

h1,
h2,
h3,
h4 {
  line-height: 1.2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img,
span,
a,
button,
label,
input,
textarea,
select,
svg {
  display: inline-block;
}
